<div th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <h2>Basics</h2>
    <br />
    <h3>1. Text and Messaging</h3>
    <div class="span3">
        <h4>Internationalized Message</h4>
        <span th:text="#{tags.greeting}">Hello World!</span>
    </div>
    <div class="span3">
        <h4>Parameterized Message</h4>
        <span th:text="#{tags.greeting.personal(${user.firstName})}">Hello User!</span>
    </div>
    <div class="span3">
        <h4>Formatted Message</h4>
        <span th:utext="#{tags.greeting.formatted(${user.firstName})}">Hello <strong>World</strong>!</span>
    </div>
    <div class="clearfix"></div>
    <div class="span8">
        <br />
        <br />
        <a th:href="@{/basics/2}" class="btn pull-right">Next &raquo;</a>
    </div>
</div>