<div th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <h2>Basics</h2>
    <br />
    <h3>2. Basic Attribute Tags</h3>
    <div class="span3">
        <h4>Class attribute</h4>
        <span th:class="${user.firstName == 'Justin'} ? 'text-error' : ''">This span is red</span>
    </div>
    <div class="span3">
        <h4>Classappend attribute</h4>
        <span class="text-error" th:classappend="${param.selected}? 'text-success' : ''">
            This span is green if selected exists
        </span>
    </div>
    <div class="span3">
        <h4>Attr Attribute</h4>
        <span th:attr="class=${user.firstName == 'Justin' ? 'text-error' : ''}">This span is red</span>
    </div>
    <div class="span3">
        <h4>Attrappend attribute</h4>
        <span class="text-error" th:attrappend="class=${param.selected} ? ' text-success' : ''">
            This span is green if selected exists
        </span>
    </div>
    <div class="span3">
        <h4>Attrprepend attribute</h4>
        <span class="text-error" th:attrprepend="class=${param.selected} ? 'text-success ' : ''">
            This span is green if selected exists
        </span>
    </div>
    <div class="clearfix"></div>
    <div class="span8">
        <br />
        <br />
        <a th:href="@{/basics/3}" class="btn pull-right">Next &raquo;</a>
    </div>
</div>