<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="common/partials/head"></head>

<body>
    <header th:substituteby="common/partials/header"></header>
    <div class="container-fluid" style="margin-top: 60px;">
        <div class="row-fluid">
            <div class="span3">
                <div th:substituteby="common/partials/sidebar"></div>
            </div>
            <!--/span-->
            <div class="span9" th:inline="text">
                <h2>Inlining</h2>
                <br />
                <h3>1. Text Inlining</h3>
                <div class="span3">
                    <h4>Internationalized Message</h4>
                    <span th:text="#{tags.greeting}">Hello World!</span>
                    <h4>Inlined Version</h4>
                    [[#{tags.greeting}]]
                </div>
                <div class="span3">
                    <h4>Parameterized Message</h4>
                    <span th:text="#{tags.greeting.personal(${user.firstName})}">Hello User!</span>
                    <h4>Inlined Version</h4>
                    [[#{tags.greeting.personal(${user.firstName})}]]
                </div>
                <div class="span3">
                    <h4>Formatted Message</h4>
                    <span th:utext="#{tags.greeting.formatted(${user.firstName})}">Hello <strong>World</strong>!</span>
                    <h4>Inlined Version</h4>
                    [[#{tags.greeting.formatted(${user.firstName})}]]
                </div>
                <div class="clearfix"></div>
                <div class="span8">
                    <br />
                    <br />
                    <a th:href="@{/inlining/2}" class="btn pull-right">Next &raquo;</a>
                </div>
            </div>
            <!--/span-->
        </div>
        <!--/row-->
    </div>
    <footer th:substituteby="common/partials/footer"></footer>
</body>
</html>