<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="common/partials/head"></head>

<body>
    <header th:substituteby="common/partials/header"></header>
    <div class="container-fluid" style="margin-top: 60px;">
        <div class="row-fluid">
            <div class="span3" th:include="common/partials/sidebar"></div>
            <!--/span-->
            <div class="span9" th:include="${TEMPLATENAME}"></div>
            <!--/span-->
        </div>
        <!--/row-->
    </div>
    <footer th:substituteby="common/partials/footer"></footer>
</body>
</html>