<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
                           http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <!-- Use @MVC annotations -->
    <mvc:annotation-driven />

    <!-- User @Controller, @Service... annotations -->
    <context:component-scan base-package="com.credera.talk.thymeleaf" />

    <mvc:resources order="-10" location="/img/" mapping="/img/**" />
    <mvc:resources order="-10" location="/css/" mapping="/css/**" />
    <mvc:resources order="-10" location="/js/" mapping="/js/**" />
    <mvc:resources order="-10" location="/favicon.ico" mapping="/img/favicon.ico" />

    <!-- Message internalization -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages" />
    </bean>

    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver" />

    <mvc:interceptors>
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
    </mvc:interceptors>
    
    <!-- Thymeleaf configuration -->
    <bean id="templateResolver" class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
        <property name="cacheable" value="false" />
        <property name="prefix" value="/WEB-INF/templates/" />
        <property name="suffix" value=".html" />
        <property name="templateMode" value="HTML5" />
        <property name="characterEncoding" value="UTF-8" />
    </bean>
    <bean id="templateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver" />
        <property name="dialects">
            <set>
                <bean class="org.thymeleaf.spring3.dialect.SpringStandardDialect" />
                <ref bean="creDialect" />
                <ref bean="creWebDialect" />
            </set>
        </property>
    </bean>
    <!-- Standard view resolver configuraiton 
    <bean id="viewResolver" class="org.thymeleaf.spring3.view.ThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine" />
        <property name="characterEncoding" value="UTF-8" />
        <property name="order" value="0" />
    </bean>
    -->
    
    <!-- Dialect configuration -->
    <bean id="creDialect" class="com.credera.talk.thymeleaf.dialect.CrederaDialect">
        <property name="processors">
          <set>
            <ref bean="priceProcessor" />
          </set>
        </property>
    </bean> 
    <bean id="creWebDialect" class="com.credera.talk.thymeleaf.dialect.CrederaWebDialect">
        <property name="processors">
          <set>
            <ref bean="formProcessor" />
          </set>
        </property>
    </bean> 
    
    <!-- Layout view resolver configuration -->
    <bean id="layoutViewResolver" class="com.credera.talk.thymeleaf.layout.LayoutThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine" />
        <property name="characterEncoding" value="UTF-8" />
        <property name="order" value="0" />
        <property name="excludedViewNames" value="jsp/*" />
        <property name="defaultLayout" value="layout/defaultLayout" />
        <property name="layoutMap">
            <map>
                <entry key="fullPage" value="NONE" />
            </map>
        </property>
    </bean>
    
    <!-- JSP Configuration -->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
        <property name="prefix" value="/WEB-INF/" />
        <property name="suffix" value=".jsp" />
        <property name="order" value="1" />
    </bean>
</beans>
