<div th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <h2>Custom Dialects</h2>
    <br />
    <h3>1. International Prices</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Sku</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.sku}">567863523</td>
                <td th:text="${product.name}">Test Widget</td>
                <td th:text="${product.description}">This is a widget for testing gizmos</td>
                <td cre:price="${product.price}">$10.00</td>
                <td th:text="${product.category.name}">Widget</td>
            </tr>
        </tbody>
    </table>
    <div class="clearfix"></div>
    <div class="span8">
        <br />
        <br />
        <a th:href="@{/custom-dialects/2}" class="btn pull-right">Next &raquo;</a>
    </div>
</div>